.home {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.header-container {
    background: #282c34;
    height: 15vh;
    display: flex;
    flex-direction: row;
}

.search-container {
    height: 85vh;
}

.search {
    height: 100%;
    display: flex;
    justify-content: center;
}

.sensus-logo {
    height: 100%;
    align-self: flex-start;
}

.sensus-logo-size {
    height: 100%;
    width: auto;
}