.home {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.comments-list {
    padding: 0px;
    list-style-type: none;
}

.search-container {
    justify-self: center;
    width: 500px;
}