.comments-list-container {
    display: flex;
    flex-direction: column;
}

.comments-list {
    max-height: 50em;
    padding: 0;
    list-style-type: none;
    overflow-y: scroll;
    scrollbar-width: none;      /* Firefox */
    -ms-overflow-style: none;   /* IE 10+ */
}

.comments-list::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.filter-bar {
    align-self: center;
    width: fit-content;
    display: flex;
    justify-content: center;
}

.filter-bar:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0 0 10px;
    -moz-box-shadow: rgba(0,0,0,0.8) 0 0 10px;
    box-shadow: rgba(0, 0, 0, 0.45) 0 0 7px;
}

.filter-box {
    padding: 10px;
    border: none;
    background: rgba(175, 175, 175, 0.45);
    font-size: 130%;
}