.container {
    align-self: center;
    display: flex;
    justify-content: center;
}

.main-search {
    padding: 10px;
    align-self: center;
    text-align: center;
}

.search-bar {
    height: 50%;
    border-radius: 10%/60%;
    display: flex;
    flex-direction: row;
    background: rgb(175, 175, 175);
    padding: 10px;
}

.search-bar:hover {
    -webkit-box-shadow: rgba(30, 30, 30, 0.71) 0 0 7px;
    -moz-box-shadow: rgba(203, 203, 203, 0.71) 0 0 7px;
    box-shadow: rgba(89, 89, 89, 0.71) 0 0 7px;
}

.search-field {
    background: none;
    font-size: 130%;
    border: none;
}

.search-field::placeholder {
    color: rgba(0, 0, 0, 0.51);
}

.search-field:focus {
    outline: none;
}

.search-button {
    max-width: 30px;
    padding-right: 10px;
    height: auto;
}

.search-button:hover {
    cursor: pointer;
}